services:
  openchamber:
    container_name: openchamber
    image: arranhs/openchamber:latest
    build:
      context: .
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./data/workspace:/home/agent/workspace
      - ./data/.config/opencode:/home/agent/.config/opencode
      - ./data/.local/share/opencode:/home/agent/.local/share/opencode
      - ~/.gitconfig:/home/agent/.gitconfig:ro
      - ~/.config/gh/hosts.yml:/home/agent/.config/gh/hosts.yml:ro
